body {
    text-align: center;
}

form {
    display: inline-block;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  text-align: left;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

td a {
   display: block;
   padding: 16px;
}

tr:hover {
   background: lightblue;
}
