<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's Talk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1><a href={{ url_for('index') }} >Let's talk</a></h1>
<h3><a href={{ url_for('add_question') }}>Add a question</a></h3>
<table class="center">
    <tr>
        <td>
            <a href={{ url_for('list_of_questions', category='all') }}>
                <h2>
                All categories
                </h2>
            <p>
                    number of topics: {{ questions|length }}, total answers: {{ answers|length }}
            </p>
            </a>
        </td>
    </tr>
            {% for key, value in question_types.items() %}
                <tr>
                    <td>
                        <a href={{ url_for('list_of_questions', category=key) }}>
                            <h3>{{ key }}</h3>
                            <p>number of topics: {{ value }} total answers:</p>
                        </a>
                    </td>
                </tr>
            {% endfor %}
</table>
</body>
</html>