<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1><a href={{ url_for('index') }} >Let's talk</a></h1>
    <table class="center">
        <thead>
            <tr>
                <td>
                    <h2>Category: {{ category }}</h2>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for question in questions_of_category %}
                <tr>
                    <td>
                        <a href="{{ url_for('question_and_answers', question_id=question['id']) }}">
                            <h3>{{ question['message'] }}</h3>
                            <p>submission time: {{ question['submission_time'] }},
                                number of views: {{ question['view_number'] }},
                                rating: {{ question['vote_number'] }}</p>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>