<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Category: {{ category }}</h1>
    <table class="center">
        <thead>
            <tr>
                {% for header in question_headers %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for question in questions_of_category %}
                <tr>
                    {% for key in question.keys() %}
                        <td>
                            <a href="{{ url_for('question_and_answers', question_id=question['id']) }}">

                                {{ question[key] }}
                            </a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>