<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new answer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1><a href={{ url_for('index') }} >Let's talk</a></h1>
    <h2>Add new answer</h2>
    <form class="center" action="{{ url_for('add_answer_post', question_id=question_id) }}" method="post">
    <label for="message">Answer:</label>
        <textarea name="message" id="message"></textarea>
    <br>
    <label for="image">Image link:</label>
        <input type="text" name="image" id="image">
    <br>
        <input type="submit" value="Add new answer">
    </form>

</body>
</html>
