<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Add new question</h1>
    <form action="{{ url_for('add_question_post') }}" method="post">
    <label for="type">Type of a question:</label>
        <input type="text" name="type" id="type">
    <br>
    <label for="message">Question itself:</label>
        <textarea name="message" id="message"></textarea>
    <br>
    <label for="image">Image link:</label>
        <input type="text" name="image" id="image">
        <input type="submit" value="Add new question">
    </form>

</body>
</html>
