<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>question id: {{ question[0]['id'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1><a href={{ url_for('index') }} >Let's talk</a></h1>
<table class="center">
<thead>
<tr>
    <td>
        <h2>Question: {{ question[0]['message'] }}</h2>
    </td>
</tr>
</thead>
<tbody>
{% for answer in answers_for_question %}
    <tr>
        <td>
            <h3>{{ answer['message'] }}</h3>
            <p> Time of submission: {{ answer['submission_time']}} Rating: {{ answer['vote_number'] }}</p>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</body>
</html>